<p-toast position="top-right"></p-toast>

<p-card class="p-card">
  <p-header class="p-card-header">
    <div class="card-text">Account Statement</div>
  </p-header>
  <div class="p-grid p-fluid">
    <!--  <div class="p-md-6 p-lg-6 col-md-6 p-sm-12">
        <label for="companytitle">Company title</label>
        <input id="companytitle" type="text" pInputText>
    </div> -->
    <div class="p-col-12 p-md-6 p-lg-6 p-sm-12">
      <label style="font-weight: 700" for="producttitle">Account Number</label>
      <p-dropdown
        #myDropdown
        [options]="accountNumbers"
        [(ngModel)]="selectedAccountNo"
        (onChange)="OnAccountChange()"
        placeholder="Select Account"
        optionLabel="name"
        [showClear]="true"
      ></p-dropdown>

      <!--  <p>Selected Product: {{selectedProduct ? selectedProduct.name : 'none'}}</p> -->
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 p-sm-12">
      <label style="font-weight: 700" for="accountitle">Statement Period</label>
      <p-dropdown
        [options]="statementPeriods"
        [(ngModel)]="selectedPeriod"
        [disabled] = "statementPeriodDisabled"
        (onChange)="OnPeriodChange()"
        name="selected period"
        placeholder="Select"
        optionLabel="name"
        [showClear]="true"
      ></p-dropdown>
      <!--  <p>Selected Account: {{selectedAccount ? selectedAccount.name : 'none'}}</p> -->
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 p-sm-12">
      <label style="font-weight: 700" for="filetemplate">Date Range</label>
      <p-calendar
        (onSelect)="OnDateChange()"
        (onClearClick)="clearDate()"
        dateFormat="dd/mm/yy"
        [(ngModel)]="rangeDates"
        [disabled] = "dateRangeDisabled"
        selectionMode="range"
        [showButtonBar]="true"
         [showIcon] = "true"
        inputId="range"
      ></p-calendar>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 p-sm-12">
      <div class="p-field-checkbox" style="padding-top: 23px">
        <p-checkbox
          (onChange)="checkValue()"
          [(ngModel)]="checked"
          binary="true"
          inputId="binary"
        ></p-checkbox>
        <label style="padding-top: 9px" for="binary">Required Date Range</label>
      </div>
    </div>
  </div>
  

  <div class="p-grid" style="margin-top: 10px;">
    <div class="p-col-12 p-md-6 p-lg-6 p-sm-12">
      <p-panel header="Account Details" class="detail">
        <div class="p-grid" *ngFor="let item of accountDetails">
          <div class="p-col-12 p-md-6 p-lg-6 p-sm-12">
            <span class="filename-font">{{ item.title }}</span>
          </div>
          <div class="p-col-12 p-md-6 p-lg-6 p-sm-12">
            <span>{{ item.detail }}</span>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
  <div class="p-field">
    <button
    style="float: right;"
      pButton
      pRipple
      type="button"
      (click)="resetData()"
      class="p-button-outlined p-button-secondary"
      label="Reset"
    ></button>
  </div>
</p-card>

<p-card class="p-cards">
  <div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12 p-sm-12">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <div class="p-d-flex">
                <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
      </p-toolbar>

      <p-table
        [value]="filesTables"
        #dt
        id="table"
        [rowsPerPageOptions]="[10, 25, 50]"
        selectionMode="single"
        [responsive]="true"
        [paginator]="true"
        [rows]="15"
        [columns]="cols"
        styleClass="p-datatable-responsive-demo"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
      >
      <ng-template pTemplate="caption">
        <div class="table-header">
          <div class="p-formgroup-inline">
            <span class="trans-header"> Transaction Details</span>
       
            <span class="p-input-icon-left table_filter">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                placeholder="Global Filter"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
              />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
         

          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <!-- <th> Initiator</th> -->
         
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-transaction let-i="rowIndex">
        <tr>
         
          <td>
            <span class="p-column-title">Transaction Date</span>
            {{ transaction.transactionDate }}
          </td>
          <td>
            <span class="p-column-title">Transaction Desc</span>
            {{ transaction.transactionDesc }}
          </td>
          <td>
            <span class="p-column-title">DRCR</span>
            {{ transaction.drcr }}
          </td>
          <td>
            <span class="p-column-title">Amount</span>
            {{ transaction.Amount }}
          </td>
          <td>
            <span class="p-column-title">End Balance</span>
            {{ transaction.endBalance }}
          </td>
    
        </tr>
      </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No Transaction found.</td>
          </tr>
        </ng-template>
        
      </p-table>
      <span style="font-weight: bold;">Closing Balance as on {{closingBalanceDate}}</span> <br/>
      <span style="font-weight: bold;">Available Balance as on {{closingBalanceDate}}</span>
    </div>
  </div>
</p-card>
