@import "src/theme.scss";

.login_btn{
    background-color: #00458a!important;
    border-color: #00458a!important;
}
.main
{
    margin-top: 10%;
    width: 50%;
    height: 50%;
    font-size: 26px;
    margin-left: 25%;
    text-align: center;

}

:host ::ng-deep .ui-progressbar .ui-progressbar-value {

   background: #008000!important;
}

.main_bg{

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $login-background;
    height: 100%;
    background-size: cover;
    background-position: left;
}

@media (max-width: 768px) {
    .main{
        width: 100%;
        margin : 20% 0 0 0;
    }
}
