<div class="main_bg">
  <p-progressBar
    *ngIf="showProgress"
    mode="indeterminate"
    [style]="{ height: '1px' }"
  ></p-progressBar>

  <p-toast position="top-right"></p-toast>
  <div class="ui-g main">
    <p-card class="ui-g-12 card_body">
      <div>
        <p-header>
          <h2 class="header_style">Sign in</h2>
        </p-header>
      </div>
      <!-- <p>{{ ipAddress }}</p> -->

      <div class="ui-g ui-fluid ">
        <hr class="hr_style" />
        <form class="form_style" #myForm="ngForm">
          <div class="ui-g">
            <div class="ui-md-2 ui-lg-3"></div>
            <div class="ui-md-8 ui-lg-6 ui-sm-12">
              <div class="ui-inputgroup input-group-alternative input-icons">
                <i class="fa fa-user-circle icon"></i>

                <input
                  type="text"
                  required
                  placeholder="Username"
                  [(ngModel)]="userName"
                  name="UserName"
                  class="form-control input-field"
                />
              </div>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-md-2 ui-lg-3"></div>
            <div class="ui-md-8 ui-lg-6 ui-sm-12">
              <div class="ui-inputgroup input-group-alternative input-icons">
                <i class="fa fa-lock icon"></i>
                <input
                  type="password"
                  required
                  placeholder="Password"
                  [(ngModel)]="password"
                  name="password"
                  class="form-control input-field"
                />
              </div>
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-md-2 ui-lg-3"></div>
            <div class="ui-md-8 ui-lg-6 ui-sm-12">
              <button
                pButton
                type="submit"
                class="ui-button-primary ui-button-rounded login_btn"
                (click)="loginUser()"
                (keyup.enter)="loginUser()"
                label="Submit"
              ></button>
            </div>
          </div>
          <!--   <div class="ui-g">
          <div class="ui-md-2 ui-lg-3"></div>
          <div class="ui-md-8 ui-lg-6 ui-sm-12">
            <button
              pButton
              type="submit"
              class="ui-button-info ui-button-rounded"
              (click)="changePassword()"
              label="Change Password"
              style="margin-top: 0px;width:100%; font-weight: bold;"
            ></button>
          </div>
        </div> -->
        </form>
      </div>
    </p-card>
  </div>
  <footer class="py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="ui-g-12">
          <div class="copyright text-center  text-muted">
            © 2020
            <a
              class="font-weight-bold ml-1"
              href="http://www.cr-pl.com/"
              style="color: rgb(148, 148, 148);"
              target="_blank"
              >ADD-CORE</a
            >
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
