@import "src/theme.scss";


.header_style{

  color:#00458a;
  font-weight:bold;
  top:5px;
}

.form_style{
  width:100%;
  height:100%;
}

.hr_style{
  height:2px;width:100%;background-color:#00458a;
}


.login_btn{
    background-color: #00458a!important;
    border-color: #00458a!important;
    margin-top: 0px;width:100%; font-weight: bold;
}

.login_btn:hover{

    background:  linear-gradient(90deg ,rgba(2, 0, 124, 0.918), rgba(69, 106, 226, 0.808)) ;
}

:host ::ng-deep .ui-card{
    border-radius:20px;
    background-color: #f8f9fe;

    border: 0;
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02)
}

.main
{
    margin-top: 15%;
    width: 50%;
    height: 50%;
    font-size: 26px;
    margin-left: 25%;
    text-align: center;

}


:host ::ng-deep .ui-progressbar .ui-progressbar-value {

   background: #090080!important;

}
.input-icons i { 
  position: absolute; 
} 

.input-icons { 
  width: 100%; 
  margin-bottom: 10px; 
} 

.icon { 
  padding: 10px; 
  color: #00458a; 
  min-width: 50px; 
  text-align: left; 
} 

.input-field { 
  width: 100%; 
  padding: 10px; 
  text-indent: 20px; 
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 30px;
  color: #2c2c2c;
  line-height: normal;
  font-size: .9571em;
  transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
  box-shadow: none;
} 

.input-field:focus{
  border: 1px solid #00458a;
  box-shadow: none;
  outline: 0!important;
  color: #2c2c2c;
}

 .fa-lock{
    font-size: 16px;   
} 



 




.main_bg{

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $login-background;
    height: 100%;
    background-size: cover;
    background-position: left;
}

@media (max-width: 768px) {
    .main{
        width: 100%;
        margin : 35% 0 0 0;
    }
}
