<div class="main_bg">
  <p-progressBar
    *ngIf="showProgress"
    mode="indeterminate"
    [style]="{ height: '2px' }"
  ></p-progressBar>

  <p-toast position="top-right"></p-toast>
 <!--  <div class="p-grid main">
    <p-card class="p-col-12 card_body" [@state]="state" *ngIf="loginShow">
      <div>
        <p-header>
          <h2 class="header_style">Sign in</h2>
        </p-header>
      </div>


      <div class="p-grid p-fluid ">
        <hr class="hr_style" />
        <form class="form_style" #myForm="ngForm">
          <div class="p-grid">
            <div class=" p-md-2 p-lg-3"></div>
            <div class="p-col-12 p-md-8 p-lg-6 p-sm-12 ">
              <div class="p-inputgroup input-group-alternative input-icons">
                <i class="pi pi-user icon"></i>

                <input
                  type="text"
                  required
                  placeholder="Username"
                  [(ngModel)]="userName"
                  name="UserName"
                  class="form-control input-field"
                />
              </div>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-md-2 p-lg-3"></div>
            <div class="p-col-12 p-md-8 p-lg-6 p-sm-12">
              <div class="p-inputgroup input-group-alternative input-icons">
               <a class="nav-item"   (click)="showPassword()"> <i *ngIf="!passwordShow" class="pi pi-eye icon"></i>
                <i *ngIf="passwordShow" class="pi pi-eye-slash icon"></i>
              </a>
                <input
                  type="password"
                  required
                  placeholder="Password"
                  [(ngModel)]="password"
                  name="password"
                  pPassword
                  [feedback]='false'
                  [showPassword]='passwordShow'
                  class="form-control input-field"
                />

              </div>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-md-2 p-lg-3"></div>
            <div class="p-col-12 p-md-8 p-lg-6 p-sm-12">

              <button
                pButton
                type="submit"
                class="p-button-primary p-button-rounded login_btn"
                (click)="loginUser()"
                (keyup.enter)="loginUser()"
                [ngClass]="{'disableCss': !userName || !password}"
                [disabled]="!userName || !password || spinnerIcon"
                label="Submit"
                pRipple
              >
              <i *ngIf="spinnerIcon" class="pi pi-spin pi-spinner"></i>
            </button>
            </div>
          </div>

        </form>
      </div>
    </p-card>
  </div> -->


  <div class="container" [@state]="state" *ngIf="loginShow">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Sign In</h3>

        </div>
        <div class="card-body" style="margin-top: 25px;">
          <form>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input
              placeholder="Username"
              [(ngModel)]="userName"
              name="UserName" required type="text" class="form-control" >

            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span (click)="showPassword()" class="input-group-text"><i [ngClass]="passwordShow ? 'fas fa-eye' : 'fas fa-eye-slash'   "></i></span>
              </div>
              <input required
              placeholder="Password"
              [(ngModel)]="password"
              name="password"
              pPassword
              [showPassword]= "passwordShow"
              type="password" class="form-control">


            </div>
            <div class="row align-items-center remember">
              <input type="checkbox">Remember Me
            </div>
            <div class="form-group">
              <button
              type="submit"
              (click)="loginUser()"
              (keyup.enter)="loginUser()"
              [ngClass]="{'disableCss': !userName || !password}"
              [disabled]="!userName || !password || spinnerIcon"
              class="btn btn-primary float-right">Login
              <i *ngIf="spinnerIcon" class="pi pi-spin pi-spinner"></i>
            </button>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account?<a href="#">Sign Up</a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<p-confirmDialog  key="positionDialog" [position]="position" [baseZIndex]="10000"></p-confirmDialog>

 <!--  <footer class="py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="p-grid-12">
          <div class="copyright text-center  text-muted">
            © 2020
            <a
              class="font-weight-bold ml-1"
              href="http://www.cr-pl.com/"
              style="color: rgb(148, 148, 148);"
              target="_blank"
              >ADD-CORE</a
            >
          </div>
        </div>
      </div>
    </div>
  </footer> -->
