@import "../../theme.scss";









.disableCss:hover {
  cursor: default;
}



:host ::ng-deep .p-progressbar .p-progressbar-value {
  background: #090080 !important;
}
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}



.icons
{
  padding: 10px;
  color: #00458a;
  min-width: 50px;
  text-align: right;
}



.fa-lock {
  font-size: 16px;
}

.main_bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // background: linear-gradient(90deg ,rgba(0, 0, 0, 0.918), rgba(243, 243, 243, 0.808)),
  // url("../../assets/images/slider.jpg");
  background: linear-gradient(211deg, rgb(0 0 0 / 66%), rgb(0 0 0 / 77%),rgb(0 0 0 / 74%),rgb(0 0 0 / 85%) ,rgb(0 0 0 / 78%) ,rgb(49 49 49)), url("../../assets/images/slider.jpg");

  height: 100%;
  overflow: auto;
  background-size: cover;
  background-position: left;


}

/* @media (max-width: 768px) {
  .main {
    width: 100%;
    margin: 35% 0 0 0;
    footer
{
  min-height:100%;
  margin-bottom: -40px;
  padding-bottom: 40px;
}
.container
{
  position: fixed;
}
  }

:host ::ng-deep .p-toast {
  width: 75%;
}
} */




/* New css start */

.container{
  height: 100%;
  align-content: center;
  }

  .card{
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color:rgb(0 0 0 / 32%) !important;
  }



  .card-header h3{
  color: white;
  text-align: center;
  font-size: 30px!important;
  }



  input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;

  }

  .remember{
  color: white;
  }

  .remember input
  {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  }

  .login_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
  }

  .login_btn:hover{
  color: black;
  background-color: white;
  }

  .links{
  color: white;
  }

  .links a{
  margin-left: 4px;
  }

/* New css end */
