<div
  class="ui-g-12 main"
  style="width: 80%;
      font-size: 26px;
      margin-left: 10%;
      justify-content: center;
 
      "
>
  <p-card header="Reset Password">
    
    <div class="ui-g form-group">
      <hr style="height:2px;width:100%;background-color:green;" />
     
       
            <div class="ui-md-6 ui-lg-6 ui-sm-12">
              
                <span class="ui-float-label" >
                <input style="width: 80%;" type="text"  required name="UserName"  pInputText />
                <label for="float-input">Username</label>
                   </span>
              
            </div>
          

        
            <div class="ui-md-6 ui-lg-6 ui-sm-12">
              
                <span class="ui-float-label" >
                <input style="width: 80%;" type="text"  required name="UserName"  pInputText />
                <label for="float-input">Username</label>
                   </span>
              
            </div>
  

            <div class="ui-md-6 ui-lg-6 ui-sm-12">
              
                <span class="ui-float-label" >
                <input style="width: 80%;" type="text"  required name="UserName"  pInputText />
                <label for="float-input">Username</label>
                   </span>
              
            </div>
  
            <div class="ui-md-6 ui-lg-6 ui-sm-12">
              
                <span class="ui-float-label" >
                <input style="width: 80%;" type="text"  required name="UserName"  pInputText />
                <label for="float-input">Username</label>
                   </span>
              
            </div>
            

     
    </div>
  </p-card>
</div>