<p-toast position="top-right"></p-toast>
<div
  class="ui-g-12 main"
  style="width: 80%;
      font-size: 26px;
      margin-left: 10%;
      text-align: center;
      color: green;">
  <p-card header="Change Password">
    <div class="ui-g ui-fluid">
      <hr style="height:2px;width:100%;background-color:green;" />
      <form style="width:100%;" >
      
        <div class="ui-g">
          <div class="ui-md-3 ui-lg-3"></div>
          <div class="ui-md-6 ui-lg-6 ui-sm-12">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon" style="width:50%;font-size:15px; font-weight: bold;">Old Password </span>
              <input
                [(ngModel)] = 'oldPassword'
                type="password"   
                required
                name="oldPassword"
                pInputText/>
            </div>
          </div>
        </div>

<div class="ui-g">
          <div class="ui-md-3 ui-lg-3"></div>
          <div class="ui-md-6 ui-lg-6 ui-sm-12">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon" style="width:50%;font-size:15px; font-weight: bold;"
                >New Password </span>
              <input
              [(ngModel)] = 'newPassword'
                type="password"
                pPassword
                required
                pInputText
                name='newPassword'
              />
            </div>
          </div>
        </div>
       
        <div class="ui-g">
            <div class="ui-md-3 ui-lg-3"></div>
            <div class="ui-md-6 ui-lg-6 ui-sm-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="width:50%;font-size:15px; font-weight: bold;"
                  >Confirm Password </span
                >
                <input
                [(ngModel)] = 'confirmPassword'
                  type="password"
                  required
                  pInputText
                  name='confirmPassword'
                />
              </div>
            </div>
          </div>

        <div class="ui-g">
          <div class="ui-md-3 ui-lg-3"></div>

          <div class="ui-md-6 ui-lg-6 ui-sm-12">
            <button  class="ui-button-info ui-button-rounded"
              pButton
              type="submit"
              label="Update"
              (click)="updatePassword()"
              style="margin-top: 0px;width:100%; font-weight: bold;"
            ></button>
          </div>
        </div>

        <div class="ui-g">
            <div class="ui-md-3 ui-lg-3"></div>
  
            <div class="ui-md-6 ui-lg-6 ui-sm-12">
              <button class="ui-button-success ui-button-rounded"
                pButton
                type="submit"
                label="Clear"
                (click)='clear()'
                style="margin-top: 0px;width:100%; font-weight: bold;"
              ></button>
            </div>
          </div>

      </form>
    </div>
  </p-card>
</div>