<div class="row">
  <div class="col-md-4"> <div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row" style = "float: right;">
    <img  src="assets/images/errorlogo.png" style="width: 25em !important;">
    </div>
    </div>
    </div>
</div>
<div class="col-md-8">
  <div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row ">

            <div class="col-md-12 ">
                <span class="display-1 d-block" style=" font-size:12em !important ;  ">

                  404</span>
                <div class="mb-4 lead"style=" font-size:2.4em !important ;  ">The page you are looking for was not found.</div>
                <a [routerLink]="['']" style=" font-size:1.4em !important ;  " class="btn btn-link">Back to Login Page</a>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
