<p-toast position="top-right" [style]="{ 'margin-top': '100px' }"></p-toast>
<!-- <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog> -->
<p-card>
<div class="drag_drop" style="margin-top: 2px;">
  <div class="form-group ui-g-12 ">
    <label for="sel1" style="margin-right:2px;">Select Type:</label>
    <p-dropdown
      (onChange)="changeValue()"
      [options]="program_types"
      [(ngModel)]="progtype"
      optionLabel="prog_type"
    ></p-dropdown>
  </div>
  <p-pickList
    [source]="sourceArr"
    [target]="targetArr"
    sourceHeader="Source"
    targetHeader="Target"
    [responsive]="true"
    filterBy="name,label,type"
    dragdrop="true"
    (onMoveToTarget)="updatetable($event)"
    (onMoveToSource) = "deletable($event)"
    sourceFilterPlaceholder="Search by Object"
    targetFilterPlaceholder="Search by Object"
    [sourceStyle]="{ height: '300px' }"
    [targetStyle]="{ height: '300px' }"
  >
    <ng-template let-field pTemplate="item">
      <div class="ui-helper-clearfix">
        <div style="font-size:14px;">
          <span
            >Name: <strong>({{ field.name }})</strong></span
          >
          -
          <span
            >Type: <strong>({{ field.type }})</strong></span
          >
          -
          <span
            >Label: <strong>({{ field.label }})</strong></span
          >
        </div>
      </div>
    </ng-template>
  </p-pickList>
</div>
<div class="text-center" style="margin-top:10px;" *ngIf="!updateReq || !deleteReq">
  <button
    pButton
    class="ui-button-success create_template_btn"
    type="submit"
    (click)="create()"
    style="font-weight: bold; width: 30%;"
    label="Create Template"
  ></button>
  <!-- <button pButton class="ui-button-success" type="submit" (click)= "sort()" style="font-weight: bold; width: 30%;"  label="sort"></button> -->
</div>
<div class="text-center" style="margin-top:10px;" *ngIf="updateReq && !deleteReq">
  <button
    pButton
    class="ui-button-success create_template_btn"
    type="submit"
    (click)="update()"
    style="font-weight: bold; width: 30%;"
    label="Update Template"
  ></button>
  <!-- <button pButton class="ui-button-success" type="submit" (click)= "sort()" style="font-weight: bold; width: 30%;"  label="sort"></button> -->
</div>
<div class="text-center" style="margin-top:10px;" *ngIf = "deleteReq">
  <button type="button" class="ui-button-danger" (click)="delete('top')" pButton icon="pi pi-times" label="Delete"></button>
  <p-dialog header="Godfather I" [(visible)]="displayPosition"  [position]="position" [modal]="true"   [style]="{width: '50vw'}" [baseZIndex]="10000">
    Are you sure you want to delete?
<p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="confirmdelete()" label="Yes"></button>
    <button type="button" pButton icon="pi pi-times" (click)="rejectDelete()" label="No" class="ui-button-secondary"></button>
</p-footer>
</p-dialog>
  <!-- <button pButton class="ui-button-success" type="submit" (click)= "sort()" style="font-weight: bold; width: 30%;"  label="sort"></button> -->
</div>

</p-card>
