
:host ::ng-deep .ui-picklist  .ui-button {

    background-color: #00458a!important;
    border: 1px solid #00458a!important;
 }
 :host ::ng-deep .ui-picklist  .ui-button:hover {

  background-color: #002a53!important;
  border: 1px solid #002a53!important;
}
 :host ::ng-deep .ui-picklist .ui-picklist-filter-container .ui-picklist-filter-icon{
    color: #00458a!important;
 }
 :host ::ng-deep .ui-picklist .ui-picklist-list .ui-picklist-item.ui-state-highlight
 {
   background-color: #00458a!important;
 }
 
 :host ::ng-deep .ui-picklist .ui-picklist-list .ui-picklist-item.ui-state-highlight:enabled:focus
 {
   border-color: #00458a!important;
 }

 .create_template_btn{
  background-color: #00458a!important;
  border-color: #00458a!important;
 }
 .create_template_btn:hover{
  background-color: #002a53!important;
  border-color: #002a53!important;
 }

 .dialog_list{
   list-style-type: none;
 }

