<p-toast  position="top-right"></p-toast>

<p-card class="p-card">
  <p-header class="p-card-header">
    <div class="card-text">
    Create Transaction
  </div>
</p-header>
  <div class="p-grid p-fluid">
    <!--  <div class="p-md-6 p-lg-6 col-md-6 p-sm-12">
        <label for="companytitle">Company title</label>
        <input id="companytitle" type="text" pInputText> 
    </div> -->
    <div class=" p-col-12 p-md-6 p-lg-6 p-sm-12">
      <label style="font-weight: 700;" for="producttitle">Product title</label>
      <p-dropdown
        #myDropdown
        [options]="products"
        [(ngModel)]="selectedProduct"
        (onChange)="OnProductChange($event)"
        placeholder="Select a Product"
        optionLabel="ProName"
        [showClear]="true"
      ></p-dropdown>

      <!--  <p>Selected Product: {{selectedProduct ? selectedProduct.name : 'none'}}</p> -->
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 p-sm-12">
      <label style="font-weight: 700;" for="accountitle">Account title</label>
      <p-dropdown
        [options]="accounts"
        [(ngModel)]="selectedAccount"
        name="selectedAccount"
        placeholder="Select an account"
        optionLabel="AcTitel"
        [showClear]="true"
      ></p-dropdown>
      <!--  <p>Selected Account: {{selectedAccount ? selectedAccount.name : 'none'}}</p> -->
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 p-sm-12">
      <label style="font-weight: 700;" for="filetemplate">File template</label>
      <p-dropdown
        [options]="templates"
        [(ngModel)]="selectedTemplate"
        (onChange)="getTemplates($event)"
        placeholder="Select a template"
        optionLabel="ConfName"
        [showClear]="true"
      ></p-dropdown>
      <!--   <p>Selected Template: {{selectedTemplate ? selectedTemplate.name : 'none'}}</p> -->
    </div>

    <!-- App Form Template Start -->
    <div class="p-col-12 p-md-6 p-lg-6 p-sm-12">
      <!--   <p>Selected Template: {{selectedTemplate ? selectedTemplate.name : 'none'}}</p> -->
    </div>

    <div class="p-fluid p-grid">
      <div class="p-grid" >
        <!-- <dynamic-form-builder
    
              *ngIf="!isValid"
              [fields]="getFields()"
            >
          </dynamic-form-builder> -->
        <p-tabView *ngIf="fields.length > 0"  (onChange)="onTabChange($event)">
          <p-tabPanel style="margin-right: 2%;" header="Transaction">
            <dynamic-form-builder
              *ngIf="isValid"
              (savedata)="recivemsg($event)"
              [fields]="getFields()"
            ></dynamic-form-builder>
          </p-tabPanel>
          <p-tabPanel
            style="margin-left: 10%;"
            header="Invoice"
            *ngIf="invoiceArr.length > 0"
          >
            <!--  <dynamic-form-builder
            *ngIf="isValid"
            (savedata)=recivemsg($event)
              [fields]="invoiceArr"
            ></dynamic-form-builder> -->
            <form [formGroup]="invForm">
              <div class="p-grid p-fluid">
                <div *ngFor="let f of invoiceArr" class="p-col-12 p-md-6 p-sm-12">
                  <label style="font-weight: 700;">
                    <strong class="text-danger" *ngIf="f.Mandatory == 'Y'">*</strong>
                    {{ f.ColumnLabel }}</label>
                  <div [ngSwitch]="f.DataType">
                    <input
                      *ngSwitchCase="'T'"
                      pInputText
                      [formControlName]="f.ColumnName"
                      [placeholder]="f.ColumnLabel"
                    />
                    <p-inputNumber
                      *ngSwitchCase="'N'"
                     
                      [name]="f?.ColumnName"
                      [formControlName]="f?.ColumnName"
                      [placeholder]="f.ColumnLabel"
                    ></p-inputNumber>
                    <p-inputNumber
                    
              
                      *ngSwitchCase="'C'"
                     
                      [formControlName]="f.ColumnName"
                      mode="currency"
                      currency="PKR"
                      locale="en-IN"
                    ></p-inputNumber>
                    <p-calendar
                      *ngSwitchCase="'D'"
                      dateFormat="dd.mm.yy"
                      (onSelect)="changeFormat($event)"
                      [formControlName]="f?.ColumnName"
                    ></p-calendar>
                  </div>
                </div>
              </div>
              <div class="p-grid">
                <div class="p-lg-6 p-md-12 p-sm-12">
                  <button
                    type="submit"
                    [disabled]="
                    !invForm.valid ||
                    invForm.value.touched == false
                  "
                    icon="pi pi-plus"
                    (click)="addInvData()"
                    pButton
                    label="Add"
                  ></button>
                </div>
                <div class="p-lg-6 p-md-12 p-sm-12">
                  <button
                  class="p-button-secondary"
                    type="button"
                    pButton
                    icon="pi pi-times"
                    (click)="deleteInvData()"
                    label="Delete All"
                  ></button>
                 
                </div>
                <div class="p-helper-clearfix p-lg-6 p-md-12 p-sm-12">
                  
                  <!-- <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="p-button-success"></button> -->
                  <p-fileUpload mode="basic" customUpload="true"  name="demo[]" accept=".xlsx,application/msexcel,.csv,.txt" maxFileSize="1000000" (uploadHandler)="onBasicUpload($event)"></p-fileUpload>
                </div>
              </div>
            </form>

            <p-table
              (onRowSelect)="showDialogToAdd($event)"
              *ngIf="invoiceData.length > 0"
              [columns]="cols"
              [value]="invoiceValues"
              selectionMode="single"
              [responsive]= "true"
              [(selection)]="selectedCar"
              [paginator]="true"
              [rows]="15"
            >
              <ng-template pTemplate="caption">
               
                Invoice Details
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  
                  <td *ngFor="let col of columns">
                    <span class="p-column-title">{{ col.header }}</span>
                    {{ rowData[col.field] }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="summary" let-rowData>
                <!--  <div style="text-align:left">
                      <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
                  </div> -->
              </ng-template>
            </p-table>

            <p-dialog
              header="Form Details"
              [(visible)]="displayDialog"
              [focusOnShow]="false"
              showEffect="fade"
              [modal]="true"
              [style]="{ width: '300px' }"
            >
              <div class="p-grid p-fluid" *ngFor="let col of invoiceheader">
                <div class="p-col-4">
                  <label style="font-weight: 700;">{{ col.header }}</label>
                </div>
                <div class="p-col-8">
                  <p-inputNumber *ngIf="typeOf(col.field) === 'number'"  [(ngModel)]="col.field"></p-inputNumber>
                  <input *ngIf="typeOf(col.field) === 'string'" pInputText [(ngModel)]="col.field" />
                </div>
                <!--   <div class="p-col-4">
                      <label for="year">Year</label>
                  </div>
                  <div class="p-col-8">
                      <input pInputText id="year" [(ngModel)]="car.year" />
                  </div>
                  <div class="p-col-4">
                      <label for="brand">Brand</label>
                  </div>
                  <div class="p-col-8">
                      <input pInputText id="brand" [(ngModel)]="car.brand" />
                  </div>
                  <div class="p-col-4">
                      <label for="color">Color</label>
                  </div>
                  <div class="p-col-8">
                      <input pInputText id="color" [(ngModel)]="car.color" />
                  </div> -->
              </div>
              <p-footer>
                <div class="p-dialog-buttonpane p-helper-clearfix">
                  <button
                  
                    type="button"
                    pButton
                    icon="pi pi-times"
                    (click)="delete()"
                    label="Delete"
                  ></button>
                  <button
                    type="button"
                    pButton
                    icon="pi pi-check"
                    (click)="save()"
                    label="Update"
                  ></button>
                </div>
              </p-footer>
            </p-dialog>


          </p-tabPanel>
        </p-tabView>
        <div class="p-grid p-col-12 btnPadding">
        <div class="p-lg-6  p-md-12 p-sm-12">
        <button
          *ngIf="fields.length > 0"
          [disabled]="
          
            !this.child?.form.valid
          "
          type="submit"
          pButton
          icon="pi pi-check"
          (click)="submitMaster()"
          label="Submit"
        ></button>
         <!-- Deliver to dialog start -->
        
<!-- Deliver to dialog end -->
      </div>
    <div class="p-lg-6 p-md-12 p-sm-12">
        <button  *ngIf="fields.length > 0"
        class="p-button-secondary"
        type="button"
        pButton
        icon="pi pi-times"
        (click)="clearField()"
        label="Clear All"
      ></button>
    </div>
      </div>
      </div>
    </div>
    <!-- App Form Template End -->
  </div>
</p-card>
<p-dialog
header="Deliver Info"
[(visible)]="displayDeliverDialog"
*ngIf="displayDeliverDialog"
[focusOnShow]="false"
showEffect="fade"
[modal]="true"
[style]="{width: '300px'}"
styleClass= "delivery_dialog"
[baseZIndex]="10000"

>
<p-dropdown [options]="array" [optionLabel]="array.value"
 placeholder="Deliver to"
 [showClear]="true"
 (onChange)="OnDeliveredChange($event)"
 [(ngModel)]="selectedDelivered"
 tabindex="1"
 >
</p-dropdown>
<div class="p-col-12" *ngFor="let col of popupConfigData">

   <label style="font-weight: 700;">{{ col.header }}</label>
 
   <input pInputText style="width: 100%;"  [(ngModel)]="col.field" [placeholder]="col.header" />
 
</div>
<p-footer>
 <button type="button" pButton icon="pi pi-check" (click)="submitPopup()" label="Submit"></button>
 <button type="button" pButton icon="pi pi-times" (click)="displayDeliverDialog=false" label="No" class="p-button-secondary"></button>
</p-footer>
</p-dialog>

