.focus  .ui-dropdown, .focus  .ui-multiselect {
    -moz-box-shadow: 0px 0px 5px #1f89ce;
    -webkit-box-shadow: 0px 0px 5px #1f89ce;
    box-shadow: 0px 0px 5px #1f89ce;
}

:host ::ng-deep .ui-card{
    border-radius: 6px;
    margin-bottom: 3em;
}
:host ::ng-deep  .ui-tabview.ui-tabview-top .ui-tabview-nav .ui-tabview-selected
{
    background-color: rgb(66, 66, 66);
    border: 1px solid rgb(66, 66, 66);
}

:host ::ng-deep  .ui-tabview.ui-tabview-top .ui-tabview-nav .ui-tabview-selected:hover
{
    background-color: rgb(39, 39, 39);
    border: 1px solid rgb(39, 39, 39);
}
:host ::ng-deep  .ui-tabview.ui-tabview-top .ui-tabview-nav li:focus
{
    box-shadow: 0 0 0 0.2em rgb(66, 66, 66);

}

:host ::ng-deep  .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight
{
    color: #FFFFFF;
    background-color: rgb(66, 66, 66);
}
.ui-card-header
{
    background-color: #1f89ce;
    z-index: 3!important;
}
.ui-card [class*=ui-card-header-]
{

    margin: 0 15px;
    padding: 0;
    position: relative;
}

:host ::ng-deep .ui-card .ui-card-body
{
    padding: 4em;
}
.card-text
{
    border-radius: 3px;
    background-color: rgb(66, 66, 66);
    color: #FFFFFF;
    font-weight: 400;
    font-size: medium;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 1%;
    float: left;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(39, 39, 39, 0.4)
}
:host ::ng-deep .ui-toast{
    margin-top: 4%;
}
@media (max-width: 768px) {
    :host ::ng-deep .ui-card .ui-card-body
    {
        padding-top: 4em;
        padding-right: 2em;
        padding-bottom: 2em;
        padding-left: 2em;
        
    }
    :host ::ng-deep .ui-toast{
        margin-top: 20%;
    }
    :host ::ng-deep .ui-card{
        margin-bottom: 4em;
    }
}
  