
<p-card>
    <h3>Create Transaction</h3>
<div class="ui-g ui-fluid">
    <div class="ui-md-6 ui-lg-6 col-md-6 col-sm-12">
        <label for="companytitle">Company title</label>
        <input id="companytitle" type="text" pInputText> 
    </div>
    <div class="ui-md-6 ui-lg-6 col-sm-12">
        <label for="producttitle">Product title</label>
        <p-dropdown [options]="products" [(ngModel)]="selectedProduct" placeholder="Select a Product" optionLabel="ProName" [showClear]="true"></p-dropdown>
       <!--  <p>Selected Product: {{selectedProduct ? selectedProduct.name : 'none'}}</p> -->
    </div>
    <div class="ui-md-6 ui-lg-6 col-sm-12">
        <label for="accountitle">Account title</label>
        <p-dropdown [options]="accounts" [(ngModel)]="selectedAccount" placeholder="Select an account" optionLabel="AcTitel" [showClear]="true"></p-dropdown>
       <!--  <p>Selected Account: {{selectedAccount ? selectedAccount.name : 'none'}}</p> -->
    </div>
    <div class="ui-md-6 ui-lg-6 col-sm-12">
        <label for="filetemplate">File template</label>
        <p-dropdown [options]="templates" [(ngModel)]="selectedTemplate" placeholder="Select a template" optionLabel="name" [showClear]="true"></p-dropdown>
      <!--   <p>Selected Template: {{selectedTemplate ? selectedTemplate.name : 'none'}}</p> -->
    </div>

    <!-- App Form Template Start -->
    
<div class="ui-fluid ui-g">
    <div class="ui-g-12 header">
     
      <div class="ui-g-12 " style="width: 100%;">
           <!-- <dynamic-form-builder
    
              *ngIf="!isValid"
              [fields]="getFields()"
            >
          </dynamic-form-builder> -->
          <p-tabView>
            
            <p-tabPanel style="margin-right: 2%;" header = "Transaction">
            <dynamic-form-builder
            *ngIf="isValid"
            (savedata)=recivemsg($event)
              [fields]="getFields()"
            ></dynamic-form-builder>
          </p-tabPanel>
          <p-tabPanel style="margin-left: 10%;" header = "Invoice" *ngIf="invoiceArr != null">
            yoyoyoyoyoyo
          </p-tabPanel>
          </p-tabView>
          </div>
        </div>
     </div>
     <!-- App Form Template End -->
</div>
</p-card>