<p-overlayPanel  #op [dismissable]="true" [showCloseIcon]="true">
  <ng-template pTemplate>
    <p-listbox (onDblClick)="selectedFile($event,op)" [options]="filesDropdown" [(ngModel)]="selectedCity" optionLabel="name" [style]="{'width':'15rem'}"></p-listbox>
  </ng-template>
</p-overlayPanel>
<p-card class="p-card ">
    <p-header class="p-card-header">
        <div class="card-text">
        Transaction Checker
      </div>

    </p-header>


  <!--   <p-overlayPanel #op>
        <ng-template pTemplate>
            Content
        </ng-template>
    </p-overlayPanel> -->

   <!--  <button type="text" pButton label="Basic" (click)="op.toggle($event)"></button> -->
    <div class="p-grid">
      <div class="p-col-12 p-md-12 pd-lg-12 p-sm-12">


      <p-button pRipple  type="button"  label="Select file" (click)="op.toggle($event)"></p-button>
      </div>
        <div class=" p-col-12 p-md-6 p-lg-6 p-sm-12">
            <p-panel header="File Detail" class="detail">
              <div class="p-grid" *ngFor="let item of filesArray" >
                <div class="p-col-12 p-md-6 p-lg-6 p-sm-12 ">
                <span class="filename_font">{{item.key}}</span>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6 p-sm-12 ">
                  <span>{{item.value}}</span>
                </div>
                <hr
                style="

                  width: 100%;
                  margin: 0;
                "
              />
                   
              </div>
            </p-panel>
        </div>
        <div class="p-col-6 p-sm-12 p-lg-6 ">
        <div class="p-grid">
        <div class=" p-col-12 p-md-12 p-lg-12 p-sm-12 ">

            <p-panel header="Action" class="ActionText">
              <textarea placeholder="Enter File level comments" class="textareaP"  pInputTextarea autoResize="autoResize"></textarea>
            </p-panel>
        </div>

    <div class="p-formgroup-inline p-col-12 p-lg-12 p-sm-12 p-md-12" >

      <div class="p-field">
          <label style="margin-top: 0.5rem;">Action By File: </label>
       </div>
       <div class=" p-field ">
        <p-dropdown [options]="actions" [(ngModel)]="selectedCity1" placeholder="Select Action" optionLabel="name" [showClear]="true"></p-dropdown>
       </div>
     <div class="p-field ">
      <button pButton pRipple type="button" label="Submit"></button>
    </div>
   <div class="p-field ">
    <button pButton pRipple type="button"  class="p-button-outlined p-button-secondary" label="Reset"></button>
   </div>
  </div>
</div>
</div>


        <div class=" p-col-12 p-md-12 p-lg-12 p-sm-12">
            <p-table [value] = "filesTables"
            #dt
            [rowsPerPageOptions]="[10, 25, 50]"
            selectionMode="single"
            [responsive]= "true"
            [paginator]="true"
            [rows]="15"
            [filterDelay]="0"  [globalFilterFields]="['CustomeRefNumber','country.name','representative.name','Amount']">
          >
            <ng-template pTemplate="caption">

              <div class="table-header" >
                <div class="p-formgroup-inline">

                  <span style="font-weight: 700 ; font-size: 1.2rem; margin-right:9.3% ;"> Transaction Details</span>

                  <div class="p-field-checkbox"  >
                  <p-radioButton name="city" value="Authorize All" [(ngModel)]="cities1"  inputId="city7"></p-radioButton>
                  <label for="city7">Authorize All</label>
                  </div>
                  <div class="p-field-checkbox" >
                    <p-radioButton name="city" value="Reject All" [(ngModel)]="cities1"  inputId="city6"></p-radioButton>
                    <label for="city6">Reject All</label>
                    </div>
                    <div class="p-field-checkbox"  >
                      <p-radioButton name="city" value="Hold" [(ngModel)]="cities1" inputId="city5"></p-radioButton>
                      <label for="city5">Hold</label>
                      </div>
                      <div class="p-field-checkbox"  >
                        <p-radioButton name="city" value="Send to Repair" [(ngModel)]="cities1" inputId="city4"></p-radioButton>
                        <label for="city4">Send to Repair</label>
                        </div>
                        <div class="p-field-checkbox"  >
                          <p-radioButton name="city" value="Resest All" [(ngModel)]="cities1" inputId="city3"></p-radioButton>
                          <label for="city3">Resest All</label>
                          </div>
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                      type="text"
                      pInputText
                      placeholder="Global Filter"
                      (input)="dt.filterGlobal($event.target.value, 'contains')"
                    />
                  </span>
              </div>

              </div>
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
              <th  pSortableColumn="CustomeRefNumber">Customer Ref No <p-sortIcon field="CustomeRefNumber" ></p-sortIcon></th>
              <th pSortableColumn="Amount">Amount <p-sortIcon field="Amount" ></p-sortIcon></th>
                       </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction>
          <tr>
              <td>{{transaction.CustomeRefNumber}}</td>
              <td>{{transaction.Amount}}</td>
             
          </tr>
      </ng-template>

          </p-table>
        </div>
    </div>
 </p-card>
