<p-overlayPanel  #op [dismissable]="true" [showCloseIcon]="true">
  <ng-template pTemplate>
    <p-listbox (onClick)="selectedFile($event,op)" [options]="filesDropdown" [(ngModel)]="preSelectFile" optionLabel="name" [style]="{'width':'15rem'}"></p-listbox>
  </ng-template>
</p-overlayPanel>
<p-card class="p-card upperCard ">
    <p-header class="p-card-header">
        <div class="card-text">
        Transaction Checker
      </div>

    </p-header>


  <!--   <p-overlayPanel #op>
        <ng-template pTemplate>
            Content
        </ng-template>
    </p-overlayPanel> -->

   <!--  <button type="text" pButton label="Basic" (click)="op.toggle($event)"></button> -->
    <div class="p-grid">
      <div class="p-col-12 p-md-12 pd-lg-12 p-sm-12 fileBtn">



      <span class="p-overlay-badge">
        <p-button pRipple  type="button"   label="Available File List" (click)="op.toggle($event)"></p-button>
        <span class="p-badge p-badge-info" style="font-size: .5em">{{files.length}}</span>
    </span>
      </div>
        <div class=" p-col-12 p-md-6 p-lg-6 p-sm-12">
            <p-panel header="File Detail" class="detail">
              <div class="p-grid" *ngFor="let item of filesArray" >
                <div class="p-col-12 p-md-6 p-lg-6 p-sm-12 ">
                <span class="filename_font">{{item.key}}</span>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6 p-sm-12 ">
                  <span>{{item.value}}</span>
                </div>


              </div>
            </p-panel>
        </div>
        <div class="p-col-12 p-sm-12 p-lg-6 ">
        <div class="p-grid">
        <div class=" p-col-12 p-md-12 p-lg-12 p-sm-12 ">

            <p-panel header="Action" class="ActionText">
              <textarea placeholder="Enter File level comments" class="textareaP"  pInputTextarea autoResize="autoResize"></textarea>
            </p-panel>
        </div>

    <div class="p-formgroup-inline p-col-12 p-lg-12 p-sm-12 p-md-12" >

      <div class="p-field">
          <label style="margin-top: 0.5rem;">Action By File: </label>
       </div>
       <div class=" p-field ">
        <p-dropdown [options]="actions" [(ngModel)]="actionByFile" placeholder="Select Action" optionLabel="name" [showClear]="true"></p-dropdown>
       </div>
     <div class="p-field ">
      <button pButton pRipple type="button" label="Submit"></button>
    </div>
   <div class="p-field ">
    <button pButton pRipple type="button"  class="p-button-outlined p-button-secondary" label="Reset"></button>
   </div>
  </div>
</div>
</div>
    </div>
</p-card>
<p-card class="p-cards ">
  <div class="p-grid">
        <div class=" p-col-12 p-md-12 p-lg-12 p-sm-12">
            <p-table [value] = "filesTables"
            #dt
            [rowsPerPageOptions]="[10, 25, 50]"
            selectionMode="single"
            [responsive]= "true"
            [paginator]="true"
            [rows]="15"
            [columns] = "cols"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0"  [globalFilterFields]="['CustomeRefNumber','CNIC','Name','Amount']">
          >
            <ng-template pTemplate="caption">

              <div class="table-header" >
                <div class="p-formgroup-inline">

                  <span style="font-weight: 700 ; font-size: 1.2rem; margin-right:9.3% ;"> Transaction Details</span>
                <div class="p-formgroup-inline">
                  <div class="p-field-checkbox"  >
                  <p-radioButton  name="city" value="Authorize All" [(ngModel)]="fileActions" (onClick)="authAll()"  inputId="city7"></p-radioButton>
                  <label for="city7">Authorize All</label>
                  </div>
                  <div class="p-field-checkbox" >
                    <p-radioButton name="city" value="Reject All" [(ngModel)]="fileActions" (onClick)="authAll()"  inputId="city6"></p-radioButton>
                    <label for="city6">Reject All</label>
                  </div>
                    <div class="p-field-checkbox"  >
                      <p-radioButton name="city" value="Hold" [(ngModel)]="fileActions" (onClick)="authAll()" inputId="city5"></p-radioButton>
                      <label for="city5">Hold</label>
                    </div>
                      <div class="p-field-checkbox"  >
                        <p-radioButton name="city" value="Send to Repair" [(ngModel)]="fileActions" (onClick)="authAll()" inputId="city4"></p-radioButton>
                        <label for="city4">Send to Repair</label>
                      </div>
                        <div class="p-field-checkbox"  >
                          <p-radioButton name="city" value="Resest All" [(ngModel)]="fileActions" (onClick)="authAll()"  inputId="city3"></p-radioButton>
                          <label for="city3">Resest All</label>
                        </div>
                    </div>
                  <span class="p-input-icon-left table_filter">
                    <i class="pi pi-search"></i>
                    <input
                      type="text"
                      pInputText
                      placeholder="Global Filter"
                      (input)="dt.filterGlobal($event.target.value, 'contains')"
                    />
                  </span>
              </div>

              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>

              <th *ngFor="let col of columns"  [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th > Initiator</th>
                       </tr>
        </ng-template>
        <ng-template pTemplate="body"  let-transaction let-i="rowIndex">
          <tr>
            <td>
              <p-tableCheckbox [value]="transaction"></p-tableCheckbox>
          </td>
            <td >
              <span class="p-column-title">CustomeRefNumber</span>
              {{transaction.CustomeRefNumber}}
          </td>
          <td >
            <span class="p-column-title">Amount</span>
            {{transaction.Amount}}
        </td>
        <td >
          <span class="p-column-title">CNIC</span>
          {{transaction.CNIC}}
      </td>
      <td >
        <span class="p-column-title">Name</span>
        {{transaction.Name}}
    </td>
        <td >


          <p-dropdown [options]="actions" [(ngModel)]="selectedAction[i]" placeholder="Select Action" optionLabel="name" [style]="{'width':'100%'}" [showClear]="true"></p-dropdown>

      </td>
      <td style="text-align: center;">
        <button pButton pRipple   icon="pi pi-info-circle" class="p-button-rounded p-button-text" (click)="viewDetails(transaction , i)" tooltipPosition="top" pTooltip="View Details"></button>
    </td>

          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No Transaction found.</td>
        </tr>
    </ng-template>
          </p-table>
        </div>
    </div>
 </p-card>

 <p-dialog [(visible)]="productDialog"  header="Transaction Details" [style]="{width: '450px'}" [baseZIndex]="10000" [modal]="true" styleClass="p-fluid dialog">
  <ng-template pTemplate="content">

      <div class="p-field">
          <label class="p-mb-3"></label>
          <div class="p-formgrid p-grid"  *ngFor="let item of filesData" >
              <div class="p-field p-col-6" >
                  <!-- <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.category"></p-radioButton> -->
                  <label for="category1" class="filename_font"> {{item.key}}: </label>
              </div>
              <div class="p-field p-col-6">
           <!--        <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton> -->
                  <label for="category2">{{item.value}}</label>
              </div>

          </div>

      </div>


  </ng-template>

  <ng-template pTemplate="footer">
     <!--  <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button> -->

      <!--  <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button> -->
      <div class="p-grid p-align-center">
        <!-- <div class="p-col-1">
            <p-button icon="pi pi-refresh" (onClick)="refresh()"></p-button>
        </div> -->
        <div class="p-col-12">
            <p-paginator [first]="pageIndex" [rows]="1"   [totalRecords]="totalRecords2" (onPageChange)="onPageChange($event)"
            showJumpToPageDropdown="true"></p-paginator>
        </div>
        <!-- <div class="p-col-1 p-grid p-justify-end">
            <p-button icon="pi pi-search"></p-button>
        </div> -->
    </div>

    </ng-template>
</p-dialog>

