:host ::ng-deep {
  .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
      display: none;
  }
}

@media screen and (max-width: 40rem) {
  :host ::ng-deep {
      .p-datatable {
          &.p-datatable-responsive-demo {
              .p-datatable-thead > tr > th,
              .p-datatable-tfoot > tr > td {
                  display: none !important;
              }

              .p-datatable-tbody > tr > td {
                  text-align: left;
                  display: block;
                  width: 100%;
                  float: left;
                  clear: left;
                  border: 0 none;

                  .p-column-title {
                      padding: .4rem;
                      min-width: 30%;
                      display: inline-block;
                      margin: -.4em 1em -.4em -.4rem;
                      font-weight: bold;
                  }

                  &:last-child {
                      border-bottom: 1px solid var(--surface-d);
                  }
              }
          }
      }
  }
}

.file-badge{
  font-size: 0.8em !important;
}

.file-dropdown{
  margin-top: 0.5rem;
}

.selected-file-badge{
  font-size: 0.8em !important;
}
.trans-header{
  font-weight: 700 ; font-size: 1.2rem; margin-right:70.7% ;
}
.header-checkbox{
  width: 3rem;
}
:host ::ng-deep .p-card{
    background-color: #f4f5f7!important;
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    margin-bottom: 3em;
}


.p-card-header
{
    background-color: #1f89ce;
    z-index: 3!important;
}
:host ::ng-deep .p-fieldset p {
    line-height: 1.5;
    margin: 0;
}

.p-card [class*=p-card-header-]
{

    margin: 0 15px;
    padding: 0;
    position: relative;
}

:host ::ng-deep .upperCard .p-card-body
{
    padding: 3em 1em 0em 1em;
}
.card-text
{
    border-radius: 3px;
    background-color: rgb(66, 66, 66);
    color: #FFFFFF;
    font-weight: 400;
    font-size: medium;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 1%;
    float: left;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(39, 39, 39, 0.4)
}
:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title{
  font-size: 17px!important;
}
:host ::ng-deep .dialog
{
  width: 45em !important;
}
@media (max-width: 768px) {

    :host ::ng-deep .p-card .p-card-body
    {
        padding-top: 2em;
        padding-right: 2em;
        padding-bottom: 2em;
        padding-left: 2em;

    }
    :host ::ng-deep .p-toast{
        margin-top: 20%;
        width: 75%;
    }
    :host ::ng-deep .p-card{
        margin-top: 2em;
        margin-bottom: 4em;
    }
    .table_filter{
      margin-top: 10px;
    }
    .fileBtn{
      margin-top: 10px;
    }

}
  :host ::ng-deep .p-listbox {
    border: none;
  }

  :host ::ng-deep .p-field-checkbox
  {
    margin-bottom: 0;
    margin-top: 0.7rem;
  }

  .filename-font{
    font-weight: bold;
  }
  .selected-count{
    background-color: #2196F3 ; color: white; padding: 10px; border-radius: 12px;
  }
  .popup-chcekcbox-label{
    margin-left: 5px;
  }
  .popup-comment-btn{
    width: 20%; float: right; margin-bottom: 20px;
  }
:host ::ng-deep .p-panel .p-panel-header
{
  border:none;
  background: #dcdcdc

}

  :host ::ng-deep .ActionText .p-panel .p-panel-content
  {
    padding: 0rem;
    background: none;
    border: none;
  }
  :host ::ng-deep .detail .p-panel .p-panel-content
  {
    padding: 1rem .5rem 0 1rem;
    border: none;
  }

  :host ::ng-deep  .textareaP
  {
    padding: 0 0 0 0.5rem !important;
    border-top : none !important;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 100% !important;
  }

  :host ::ng-deep .pad
  {
    padding: 0;
  }
/* :host ::ng-deep .p-fieldset-legend
{
    width: 25%;
} */
