<p-card class="p-card ">
    <p-header class="p-card-header">
        <div class="card-text">
        Transaction Checker
      </div>
    </p-header>
    
  <!--   <p-overlayPanel #op>
        <ng-template pTemplate>
            Content
        </ng-template>
    </p-overlayPanel> -->
    
   <!--  <button type="text" pButton label="Basic" (click)="op.toggle($event)"></button> -->
    <div class="p-grid">
      
        <div class=" p-col-12 p-md-6 p-lg-6 p-sm-12">
            <p-panel header="Header">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </p-panel>
        </div>
        <div class=" p-col-12 p-md-6 p-lg-6 p-sm-12">
            <p-panel header="Header">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </p-panel>
        </div>
    </div>
 </p-card>   
