@import "src/theme.scss";
.main {
    margin-left: 270px;
    margin-top: 70px;
    overflow: auto;
    padding: 3% !important;
    background-color: #f6f5ce1a;
    height: 100%; /* Same as the width of the sidenav */
   // font-size: 28px; /* Increased text to enable scrolling */
    //padding: 0px 10px;
  }

  @media screen and (max-width: 768px) {
    .main {
      margin-top: 70px;
      margin:70px 0 auto;
      overflow: auto;
    }
    
  }


