@import "src/theme.scss";
.main {
    margin-left: 270px;
    // margin-top: 70px;
    overflow: auto;
    padding: 2.3em 1em 2.3em 1em !important;
    background-color: rgba(244, 243, 239 ,1);
    height: 100%; /* Same as the width of the sidenav */
   // font-size: 28px; /* Increased text to enable scrolling */
    //padding: 0px 10px;
  }
.breadCrumbs
{
  color: #929090;
  margin-bottom: 40px;
  
}
.dashboard
{
  font-weight: 900;
  color: rgb(29, 29, 29);
  text-decoration: none;
}
.dashboard:hover{
 color: black ;
 text-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
  @media screen and (max-width: 768px) {
    .main {
      margin-top: 70px;
      margin:70px 0 auto;
      overflow: auto;
    }

  }
  .notmain {
   
    // margin-top: 70px;
    overflow: auto;
    padding: 2.3em 1em 2.3em 1em !important;
    background-color: rgba(244, 243, 239 ,1);
    height: 100%; /* Same as the width of the sidenav */
   // font-size: 28px; /* Increased text to enable scrolling */
    //padding: 0px 10px;
  }


