 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    justify-content: center;
    color: white;
    display: flex;
    justify-content:inherit;

  }
  .align-angle-down{
   vertical-align: middle;
  }
  .align-card-icon{
   padding-top: 5.4px;
   padding-right: 2.4px;
  }
:host{
.mat-list-item.active {
   background-color: #ffffff;
   color: #3c4858;
   opacity: 1;
   box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(60,72,88,.4);
 

 }
 &:hover,
 &:focus {
   >.mat-list-item:not(.expanded) {
      background-color: rgba($color: #e6e6e6, $alpha: 1)!important;

   }
 }
}

.active {
   color: #ffffff;
   opacity: 1;
   box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(60,72,88,.4);
 }

 .headactive
 {
   background-color: rgba($color: #555555ce, $alpha: 1);

 }

//  a:hover
//  {
//     background-color: rgba($color: #98c44f, $alpha: 0.7);
//     cursor: pointer;
//  }


 .main_link :hover{

  color: #3c4858;
    background-color: rgba($color: #e6e6e6, $alpha: 1)!important;

    cursor: pointer;
 }



