

<ul class="list-unstyled" >
  <li class="main_link" (click)="onItemClick(item)" [ngStyle]="{'margin-left': (depth * 12) + 'px'}">

    <a class="mat-list-item"   [ngClass]="{'active': item.RLink ? route.isActive('menu/'+item.RLink+'/' +item.id, true): false, 'expanded': expanded}">

        <i class="align-card-icon" style="font-size: 0.6em;" [ngClass]="{'pi pi-circle-on' : item.Forms && item.Forms.length}"></i>{{item.Node || item.Name}}

        <span  *ngIf="item.Forms && item.Forms.length">
            <i class="pi pi-angle-down align-angle-down" [@indicatorRotate]="animationState"></i>
        </span></a>



</li>
</ul>


<div  [@dropdown]="animationState">
<app-sidenav  *ngFor="let child of item.Forms" [item] = "child" [depth]="depth+1"></app-sidenav>
</div>


