

<ul class="list-unstyled" >
  <li class="main_link"  (click)="onItemClick(item)" [ngStyle]="{'margin-left': (depth * 12) + 'px'}">

    <a class="mat-list-item"   [ngClass]="{'active': item.RLink ? route.isActive('adminpage/'+item.RLink+'/' +item.id, true): false, 'expanded': expanded}">

        <i class="align-card-icon" [ngClass]="{'pi pi-id-card' : item.Forms && item.Forms.length}"></i>{{item.Node || item.Name}}

        <span  *ngIf="item.Forms && item.Forms.length">
            <i class="pi pi-angle-down align-angle-down" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'"></i>
        </span></a>
          <hr *ngIf="expanded" style="height:0.1px;width:100%;background-color:rgb(185, 183, 183);" />


</li>
</ul>


<div *ngIf="expanded" [@dropdown]="expanded ? 'expanded': 'collapsed'">
<app-sidenav  *ngFor="let child of item.Forms" [item] = "child" [depth]="depth+1"></app-sidenav>
</div>


