

$sidenav-background:  linear-gradient(180deg ,rgba(30, 30, 30, 0.918), rgba(37, 37, 38, 0.856)),
url("src/assets/images/sidenav_bg.jpg") no-repeat;
$hbl-background:  linear-gradient(-180deg ,rgba(21, 165, 76, 0.719), rgb(0, 0, 0)),
url("src/assets/images/sidenav_bg.jpg") no-repeat;


$login-background:  linear-gradient(90deg ,rgba(2, 0, 124, 0.918), rgba(69, 106, 226, 0.808)),
url("src/assets/images/slider.jpg") ;
