<p-toast position="top-right"></p-toast>
<div class="ui-g">
    <div class="ui-lg-2 ui-md-2 ui-sm-0"></div>
    <div class="ui-g-4 ui-lg-4 ui-sm-2">
      <button
        pButton
        type="button"
        class="ui-button-success"
        (click)="backToMainScreen()"
        style="width:80%;margin-left:-19%;  height:40px;"
        label="Back"
      ></button>
    </div>
<div
  class="ui-g-12"
  style="width: 80%;
      font-size: 26px;
      margin-left: 10%;
      text-align: center;
      "
>
  <p-card header="Reset Password">
    <div class="ui-g">
        <div class="ui-md-3 ui-lg-3"></div>
        <div class="ui-md-6 ui-lg-6 ui-sm-12">
          <button
            pButton
            type="submit"
            class="ui-button-success ui-button-rounded"
            (click)="resetPassword()"
            label="Submit"
            style="margin-top: 0px;font-weight: bold;"
          ></button>
        </div>
      </div>
      <div class="ui-g">
          <div class="ui-md-3 ui-lg-3"></div>
          <div class="ui-md-6 ui-lg-6 ui-sm-12">
            <button
              pButton
              type="submit"
              class="ui-button-info ui-button-rounded"
              (click)="resetform()"
              label="Clear"
              style="margin-top: 0px; font-weight: bold;"
            ></button>
          </div>
        </div>
    <div class="ui-g ui-fluid">
      <hr style="height:2px;width:100%;background-color:green;" />
      <form style="width:100%;" #myForm="ngForm">
        <div class="ui-g">
          <div class="ui-md-3 ui-lg-3"></div>
          <div class="ui-md-6 ui-lg-6 ui-sm-12">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon" style="width:50%;font-size:15px; font-weight: bold;"
                >Name </span
              >
              <input type="text"  required name="UserName" [(ngModel)]="userName" pInputText />
            </div>
          </div>
        </div>

        

        <div class="ui-g">
          <div class="ui-md-3 ui-lg-3"></div>
          <div class="ui-md-6 ui-lg-6 ui-sm-12">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon" style="width:100%;font-size:15px; font-weight: bold;"
                >Auto Generate  <p-checkbox [(ngModel)]="checked" name="checkbox" binary="true" (click)="autoGen()"></p-checkbox></span>
              </div>
          </div>
        </div>

        <div class="ui-g">
            <div class="ui-md-3 ui-lg-3"></div>
            <div class="ui-md-6 ui-lg-6 ui-sm-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="width:50%;font-size:15px; font-weight: bold;"
                  >Password </span
                >
                <input 
                  [(ngModel)]="password"
                  type="password"
                  pPassword
                  
                  name="Password"
                  pInputText
                />
              </div>
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-md-3 ui-lg-3"></div>
            <div class="ui-md-6 ui-lg-6 ui-sm-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="width:50%;font-size:15px; font-weight: bold;"
                  >Confirm Password </span
                >
                <input
                  type="password"
                  [(ngModel)]="cPassword"
                  
                  name="Confirm Password"
                  pInputText
                />
              </div>
            </div>
          </div>

       
        
      </form>
    </div>
  </p-card>
</div>