<div
  id="mySidenav"
  [ngClass]="{ sidebar: this.sidebarOpen }"
  *ngIf="sideMenu"
  class="sidenav"
>
 <!--  <ul class="list-unstyled">
    <li>
      <span class="mat-list">
       <i  class="piusers fas fa-user-circle"></i> {{userName}}
      </span>
      <hr
        style="
          height: 0.5px;
          width: 100%;
          background-color: rgb(185, 183, 183);
        "
      />
    </li>
  </ul> -->
  <div class="logo" style="margin-left:15px;">
    <a class="simple-text"  (click)="changeTitle()" [routerLink]="['/menu/Dashboard']">
      <div class="logo-img">
        <img width="36px" src="../../assets/images/side-logo.png">
      </div>
    </a>
    <a style="padding-left: 10px;" class="simple-text logo-normal"> CR-PL </a>
  </div>

  <ul class="list-unstyled">
     <ul  class="navbar logo nav">
    <li class="nav-item main_link dropdown">
  
  
    <a data-toggle="collapse" class="nav-link  link-text" data-target="#navdrop" style="cursor: pointer; color: white !important;">{{userName}}
      <i class="pi pi-angle-down sub-menu-icon"> </i> </a>
  
  <div class="collapse"  id="navdrop">
    <ul class="nav">
  <li class="nav-item main_link">
  
    <a class="nav-link link-text" [routerLinkActive]="['is-active']" [routerLink] ="['/menu/businessunit']"><i class="pi pi-circle-off"></i> <span style="padding-left: 5px;"> Business Unit</span></a>
  </li>
  
  <li class="nav-item main_link">
    <a class="nav-link link-text" [routerLinkActive]="['is-active']" [routerLink] ="['/menu/costcenters']"><i class="pi pi-circle-off"></i> <span style="padding-left: 5px;"> Cost Centers</span></a>
  </li>
  <li class="nav-item main_link">
    <a class="nav-link link-text" [routerLinkActive]="['is-active']" [routerLink] ="['/menu/customermaster']"><i class="pi pi-circle-off"></i> <span style="padding-left: 5px;">Customer Master</span></a>
  </li>
  <li class="nav-item main_link">
    <a class="nav-link link-text" [routerLinkActive]="['is-active']" [routerLink] ="['/menu/chartofaccount']"><i class="pi pi-circle-off"></i> <span style="padding-left: 5px;">Chart Of Account</span></a>
  </li>
  </ul>
  </div>
  </li>
    </ul>
    <li>
    
      <span style="margin-top: 1rem;" class="p-input-icon-left">
        <i style="color: white;" class="fa fa-search fa-2x"></i>
        <input type="text" class="search-input" pInputText placeholder="Search" [(ngModel)]="selectedLink" (input) = "filterUsers()" />
    </span>
     
    </li>
  </ul>
  <app-sidenav
    *ngFor="let item of links"
    [item]="item"
    (messageEvent)="receiveMessage($event)"
  ></app-sidenav>
</div>

<!-- <ul class="list-unstyled quick-links" *ngFor = "let link of links">


  <li class="main_link">
    <a href="#paymentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
        <i class="pi pi-id-card"></i>{{link.Node}}</a>


</li>
<ul class="collapse list-unstyled" id="paymentSubmenu" *ngFor = "let lin of link.Forms">
<li class="sub_link"><a class="sub_anchs">{{lin.Name}}</a></li>

</ul> -->
<!-- <li class="main_link"><a class="main_link" href="javascript:void();"><i class="pi pi-home"></i>Home</a></li>

<li class="main_link">
        <a [routerLink]="" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
            <i class="pi pi-id-card"></i>Payment Transaction</a>


</li>
<ul class="collapse list-unstyled" id="paymentSubmenu">
    <li class="sub_link"><a class="sub_anchs" href="javascript:void();">Create Transaction</a></li>
    <li class="sub_link" ><a class="sub_anchs"  href="javascript:void();">Bulk Transaction</a></li>

</ul>


    <li class="main_link">
        <a href="#backSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
            <i class="pi pi-briefcase"></i> Back Office</a>

    </li>
            <ul class="collapse list-unstyled" id="backSubMenu">
                <li class="sub_link"><a class="sub_anchs" href="javascript:void();">Stop Cheque</a></li>
                <li class="sub_link"><a class="sub_anchs" href="javascript:void();">CBS Posting</a></li>

            </ul>
    <li class="main_link">
        <a href="#instrumentSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
            <i class="pi pi-refresh"></i>Instrument Processing</a>

    </li>
            <ul class="collapse list-unstyled" id="instrumentSubMenu">
                <li class="sub_link"><a class="sub_anchs" href="javascript:void();">Instrument Printing</a></li>
                <li class="sub_link"><a class="sub_anchs" href="javascript:void();">Instrument Re-print</a></li>

            </ul> -->

<nav id="main" [ngClass]="{'fixer' : sideMenu == true , 'notfixer' : sideMenu == false}" class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
  <div class="mr-auto">
    <!--  <a class="btn_side" style="margin-right:20px;"
    (click)="toggleNavbar()" >
    <span class="navbar-toggler-icon"></span></a> -->
    <a *ngIf="sideMenu" class="btn_side" (click)="toggleNavbar($event)">
      <span class="navbaricon">
        <div
          class="icon-bar"
          [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"
        ></div>
        <div
          class="icon-bar"
          [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"
        ></div>
        <div
          class="icon-bar"
          [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"
        ></div>
      </span>
    </a>

    
  </div>
  <a class="piuser toggler-nav" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="fas fa-chevron-circle-down"></span>
  </a>
  <div class="navbar-collapse flex-grow-0 collapse"  id="navbarSupportedContent">
  <ul class="navbar-nav text-right" >
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span><i style="font-size: 18px !important;"  class="piuser far fa-bell"></i></span>

      </a>

    </li>
    <li class="nav-item"> <a class="nav-link" href="#" >
      <span><i style="font-size: 18px !important;"  class="piuser fas fa-calculator"></i></span>

    </a></li>

    <li class="nav-item dropdown">
  <a
  class="nav-link nav-user-img actNav"
  href="#"
  id="navbarDropdownMenuLink"
  data-toggle="dropdown"
  aria-haspopup="true"
  aria-expanded="false"
  > <span class="piuser" ><i  class="piuser fas fa-cog "></i> </span>
</a>

<div
class="dropdown-menu dropdown-menu-right show1"
aria-labelledby="navbarDropdownMenuLink"
>
<!-- <div style="text-align: center;">
  <i class="pi padding-pi pi-user"></i>
  <span>{{ userName }}</span>
</div>
<a class="dropdown-item" [routerLink]="['/menu/formtemplate']"
  ><i class="pi padding-pi pi-users"></i>Dynamic Forms</a
>
<a class="dropdown-item" [routerLink]="['/menu/resetpassword']"
  ><i class="pi padding-pi pi-user-edit"></i>Setting</a
>
<a class="dropdown-item" [routerLink]="['/menu/templatecreator']"
  ><i class="pi padding-pi pi-user-edit"></i>Template Creator</a
>
<button pButton pRipple type="button" style="margin-left: 10px;width: 100%;"  label="Logout" class=" flax p-button-text " (click)="logout()">
  <i class="pi padding-pi pi-power-off"></i></button> -->
  <div style="display: flex; padding:.5rem .5rem;">
  <span class="toggle-text">Toggle SideMenu</span>
  <p-inputSwitch styleClass="toggle-switch" (onChange) = "changeOpt()" [(ngModel)]="sideMenu"></p-inputSwitch>
</div>
</div>
</li>
<li class="nav-item dropdown">
  <a
    class="nav-link nav-user-img actNav"
    href="#"
    id="navbarDropdownMenuLink2"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    > <span class="piuser" ><i  class="piuser far fa-user "></i> {{userName}}</span>
  </a>

  <div
    class="dropdown-menu dropdown-menu-right nav-user-dropdown"
    aria-labelledby="navbarDropdownMenuLink2"
  >
    <div style="text-align: center;">
      <i class="pi padding-pi pi-user"></i>
      <span>{{ userName }}</span>
    </div>
    <a class="dropdown-item" [routerLink]="['/menu/formtemplate']"
      ><i class="pi padding-pi pi-users"></i>Dynamic Forms</a
    >
    <a class="dropdown-item" [routerLink]="['/menu/resetpassword']"
      ><i class="pi padding-pi pi-user-edit"></i>Setting</a
    >
    <a class="dropdown-item" [routerLink]="['/menu/templatecreator']"
      ><i class="pi padding-pi pi-user-edit"></i>Template Creator</a
    >
    <button pButton pRipple type="button" style="margin-left: 10px;width: 100%;"  label="Logout" class=" flax p-button-text " (click)="logout()">
      <i class="pi padding-pi pi-power-off"></i></button>
  </div>
</li>
</ul>
</div>
</nav>

