@import "~src/theme.scss";

.fixer
{
  background-color: rgba(244, 243, 239 ,1)!important;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  /* margin-right: 11px !important; */
  margin-left: 270px;
}
.notfixer
{
  background-color: rgba(244, 243, 239 ,1)!important;
  box-shadow: none;
  border-bottom: 1.3px solid #ddd;
  /* margin-right: 11px !important; */

}
.dropdown-menu
{
  transition: all .3s cubic-bezier(.215,.61,.355,1) 0s,opacity .3s ease 0s,height 0s linear .35s;

}

.navbar .dropdown-menu:before
{
  border-bottom: 11px solid #f1eae0;
  border-left: 10px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 28px;
  top: -12px;

}
.navbar .dropdown-menu:after {
  border-bottom: 11px solid #fff;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 28px;
  top: -11px;
}



/* sidenav */
.sidenav {

  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  right: auto;
  left: -277px;
  background: linear-gradient(180deg ,rgba(30, 30, 30, 0.918), rgba(37, 37, 38, 0.856)),
  url("../../assets/images/sidenav_bg.jpg") no-repeat;;
  font-family: "Work Sans", sans-serif;
  background-size: cover;
  background-position: top;
  //overflow-x: hidden;
  padding-top: 16px;

  transition: 0.5s;

  overflow-y: auto;
  scrollbar-width: thin;

  box-shadow: 0px 0px 19px rgba(0, 0, 0, 1);



}

.search-input{
  height: 30px;
  color: white;
}
.p-input-icon-left{
  margin-left: 20px;
}
.navbaricon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 10px;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
.icon-bar {
  width: 22px;
  height: 4px;
  background: rgb(143, 143, 143);
  margin: 2px;
  position: relative;
}
.piuser
{
  // margin-right: 5px;
    //padding-top: 3.5px;
    color: #555555;
    font-size: 16px!important;
}
.piusers
{
  margin-right: 5px;
    padding-top: 3.5px;
    color: #ffffff;

}
.mat-list {
  padding: 10px 0px 0px 16px;
  text-decoration: none;
  justify-content: center;
  color: white;
  font-size: medium !important;
  margin-left: 8px;
  font-weight: 700;

  display: flex;
  justify-content: inherit;
}
//   a {
//     padding: 6px 8px 6px 16px;
//     text-decoration: none;
//     justify-content: center;
//     color: white;
//     display: flex;
//     justify-content:inherit;
//   }

// :host{
// .mat-list-item.active {
//    background-color: rgba($color: #919191ce, $alpha: 1);
//  }
//  &:hover,
//  &:focus {
//    >.mat-list-item:not(.expanded) {
//       background-color: rgba($color: #616161, $alpha: 1)!important;
//    }
//  }
// }

.sidenav::-webkit-scrollbar {
  width: 8px;
}
// background:
// linear-gradient(-180deg ,rgba(165, 190, 105, 0.404), rgb(73, 104, 2)),
// url("src/assets/images/sidenav_bg.jpg") no-repeat;
.sidenav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* sidenav */
.cursor_style{
  cursor: pointer;
}
.nav-item {
  margin: auto;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  // font-size: 28px; /* Increased text to enable scrolling */
  //padding: 0px 10px;
}

.btn_side {
  display: none;
}

.navbar-brand {
  color: #00458a;
}

// @media screen and (max-height: 450px) {
//   .sidenav {padding-top: 15px;}
//   .sidenav a {font-size: 18px;}
// }
@media (max-width: 768px) {
  .btn_side {
    display: inline;
  }

  .fixer{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-left: 0px;
    background-color: #f8f9fa!important;
  }
  .sidenav {

    height: 100%;
    width: 270px;
    position: absolute;
    z-index: 1;
    right: auto;
    left: -277px;
    background: linear-gradient(180deg ,rgba(30, 30, 30, 0.918), rgba(37, 37, 38, 0.856)),
    url("../../assets/images/sidenav_bg.jpg") no-repeat;;
    font-family: "Work Sans", sans-serif;
    background-size: cover;
    background-position: top;
    //overflow-x: hidden;
    padding-top: 70px;

    transition: 0.5s;

    overflow-y: auto;
    scrollbar-width: thin;

    box-shadow: 0px 0px 19px rgba(0, 0, 0, 1);



  }


  // .sidebar{
  //   display: none;
  // }
}

.fixed-top {
  box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.5);
}

.pi-ellipsis-v {
  color: #00458a;
}
.dropdown-item:hover {
  background-color: white;
    /* color: white; */
    /* opacity: 0.9; */
    transform: scale(1.05);
    border-radius: .5rem;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.dropdown-item:active {
  color: black;
  font-weight: 600;
  text-decoration: none;

}
/* footer */
.dropdown-menu.show
{box-shadow: 1px 2px 7px 1px rgba(0,0,0,.125);
  margin: 0.125rem 12px 0;
  border-radius: .5em;
}
.padding-pi
{
  padding: 7px 8px 6px 4px;
}
:host ::ng-deep .flax .p-button-label
{
  flex : none;
}
.actNav:focus
{
  color: #00458a;
}

:host ::ng-deep .p-inputtext:enabled:focus{
  box-shadow: none !important;
  background-color: rgba(255,255,255,.2);}
  :host ::ng-deep .p-inputtext{
    border: none;
    background:  rgba(255,255,255,.1);
    border-radius: 15px;
    padding-right: 2rem;
    caret-color: white;
  }
  ::placeholder  {
    color: white;
    opacity:.9; /* Firefox */
  }
// /* footer */linear-gradient(rgba(146, 190, 43, 0.726)),
